{% extends 'base.html' %}

{% block content %}
<section class="inicio">
    <div class="intro">
        <h2>Bienvenido a nuestra tienda de flores artificiales 🌸</h2>
        <p>Descubre las flores más hermosas que nunca se marchitan.  
        Dale color y alegría a tu hogar con nuestros arreglos únicos.</p>
        <a href="#" class="boton-principal">Ver Catálogo</a>
    </div>
</section>

<section class="catalogo">
    <h3 class="titulo-seccion">🌺 Destacados de la semana 🌺</h3>

    <div class="tarjetas">
        <div class="tarjeta">
            <img src="images/rosas_rosas.jpg" alt="Ramo de Rosas">
            <div class="info">
                <h4>Ramo de Rosas</h4>
                <p class="precio">$250 MXN</p>
                <button class="boton-comprar">Agregar al carrito</button>
            </div>
        </div>

        <div class="tarjeta">
            <img src="images/girasoles_brillantes.jpg" alt="Girasoles Brillantes">
            <div class="info">
                <h4>Girasoles Brillantes</h4>
                <p class="precio">$180 MXN</p>
                <button class="boton-comprar">Agregar al carrito</button>
            </div>
        </div>

        <div class="tarjeta">
            <img src="images/orquideas.jpg" alt="Orquídeas Elegantes">
            <div class="info">
                <h4>Orquídeas Elegantes</h4>
                <p class="precio">$320 MXN</p>
                <button class="boton-comprar">Agregar al carrito</button>
            </div>
        </div>

        <div class="tarjeta">
            <img src="images/lirios_blancos.jpg" alt="Lirios Blancos">
            <div class="info">
                <h4>Lirios Blancos</h4>
                <p class="precio">$200 MXN</p>
                <button class="boton-comprar">Agregar al carrito</button>
            </div>
        </div>

        <div class="tarjeta">
            <img src="images/tulipanes.jpg" alt="Tulipanes de Colores">
            <div class="info">
                <h4>Tulipanes de Colores</h4>
                <p class="precio">$220 MXN</p>
                <button class="boton-comprar">Agregar al carrito</button>
            </div>
        </div>

        <div class="tarjeta">
            <img src="images/margaritas.jpg" alt="Margaritas Frescas">
            <div class="info">
                <h4>Margaritas Frescas</h4>
                <p class="precio">$150 MXN</p>
                <button class="boton-comprar">Agregar al carrito</button>
            </div>
        </div>

        <div class="tarjeta">
            <img src="images/peonias_rosadas.jpg" alt="Peonías Rosadas">
            <div class="info">
                <h4>Peonías Rosadas</h4>
                <p class="precio">$280 MXN</p>
                <button class="boton-comprar">Agregar al carrito</button>
            </div>
        </div>

        <div class="tarjeta">
            <img src="images/iris_morados.jpg" alt="Iris Morados">
            <div class="info">
                <h4>Iris Morados</h4>
                <p class="precio">$190 MXN</p>
                <button class="boton-comprar">Agregar al carrito</button>
            </div>
        </div>

        <div class="tarjeta">
            <img src="images/anturios_rojos.jpg" alt="Anturios Rojos">
            <div class="info">
                <h4>Anturios Rojos</h4>
                <p class="precio">$270 MXN</p>
                <button class="boton-comprar">Agregar al carrito</button>
            </div>
        </div>

        <div class="tarjeta">
            <img src="images/claveles_varios.jpg" alt="Claveles de Colores">
            <div class="info">
                <h4>Claveles de Colores</h4>
                <p class="precio">$160 MXN</p>
                <button class="boton-comprar">Agregar al carrito</button>
            </div>
        </div>

        <div class="tarjeta">
            <img src="images/azucenas_blancas.jpg" alt="Azucenas Blancas">
            <div class="info">
                <h4>Azucenas Blancas</h4>
                <p class="precio">$230 MXN</p>
                <button class="boton-comprar">Agregar al carrito</button>
            </div>
        </div>

        <div class="tarjeta">
            <img src="images/fresias.jpg" alt="Fresias Aromáticas">
            <div class="info">
                <h4>Fresias Aromáticas</h4>
                <p class="precio">$210 MXN</p>
                <button class="boton-comprar">Agregar al carrito</button>
            </div>
        </div>

        <div class="tarjeta">
            <img src="images/ranunculos.jpg" alt="Ránunculos Coloridos">
            <div class="info">
                <h4>Ránunculos Coloridos</h4>
                <p class="precio">$240 MXN</p>
                <button class="boton-comprar">Agregar al carrito</button>
            </div>
        </div>

        <div class="tarjeta">
            <img src="images/gerberas.jpg" alt="Gerberas Vibrantes">
            <div class="info">
                <h4>Gerberas Vibrantes</h4>
                <p class="precio">$200 MXN</p>
                <button class="boton-comprar">Agregar al carrito</button>
            </div>
        </div>

        <div class="tarjeta">
            <img src="images/lotus_rosados.jpg" alt="Lotus Rosados">
            <div class="info">
                <h4>Lotus Rosados</h4>
                <p class="precio">$300 MXN</p>
                <button class="boton-comprar">Agregar al carrito</button>
            </div>
        </div>

        <div class="tarjeta">
            <img src="images/magnolias_blancas.jpg" alt="Magnolias Blancas">
            <div class="info">
                <h4>Magnolias Blancas</h4>
                <p class="precio">$350 MXN</p>
                <button class="boton-comprar">Agregar al carrito</button>
            </div>
        </div>

        <div class="tarjeta">
            <img src="images/hibiscos_rojos.jpg" alt="Hibiscos Rojos">
            <div class="info">
                <h4>Hibiscos Rojos</h4>
                <p class="precio">$220 MXN</p>
                <button class="boton-comprar">Agregar al carrito</button>
            </div>
        </div>

        <div class="tarjeta">
            <img src="images/azaleas_varias.jpg" alt="Azaleas de Colores">
            <div class="info">
                <h4>Azaleas de Colores</h4>
                <p class="precio">$260 MXN</p>
                <button class="boton-comprar">Agregar al carrito</button>
            </div>
        </div>

        <div class="tarjeta">
            <img src="images/dalias_coloridas.jpg" alt="Dalias Coloridas">
            <div class="info">
                <h4>Dalias Coloridas</h4>
                <p class="precio">$280 MXN</p>
                <button class="boton-comprar">Agregar al carrito</button>
            </div>
        </div>

        <div class="tarjeta">
            <img src="images/violetas.jpg" alt="Violetas Elegantes">
            <div class="info">
                <h4>Violetas Elegantes</h4>
                <p class="precio">$170 MXN</p>
                <button class="boton-comprar">Agregar al carrito</button>
            </div>
        </div>
    </div>
</section>
{% endblock %}
